<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Intranet</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="index.html">
                <img src="../static/img/INTRANET/Logo.jpeg" alt="Logo" class="logo" >
            </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown mx-4">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    CATÁLOGO    
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li class="nav-item dropdown mx-4">
                      <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Hombre    
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="CatPolera.html">Poleras</a></li>
                    <li><a class="dropdown-item" href="CatPolos.html">Polos</a></li>
                    <li><a class="dropdown-item" href="CatPantalones.html">Pantalones</a></li>
                    </ul>
                    </li>
                    <li class="nav-item dropdown mx-4">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Mujer   
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="CatPolerasM.html">Poleras</a></li>
                      <li><a class="dropdown-item" href="CatPolosM.html">Polos</a></li>
                      <li><a class="dropdown-item" href="CatPantalonesM.html">Pantalones</a></li>
                      </ul>
                      </li>
                      <li class="nav-item dropdown mx-4">
                        <li><a class="dropdown-item" href="CatAccesorios.html">Accesorios<a></li>
                      </li>
                 
                    </ul>
                </li>
                
            <li class="nav-item mx-4" >
                <a class="nav-link active" aria-current="page" href="Nosotros.html">NOSOTROS</a>
            </li>
            
            <li class="nav-item mx-4">
                <a class="nav-link active" href="ServicioCliente.html">SERVICIO AL CLIENTE</a>
            </li>
            </ul>
            <form class="d-flex" style="width: 35%;">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" style="height: 45px; font-size: 1.1rem;">
                <button class="btn d-flex align-items-center justify-content-center" type="submit" style="height: 45px; width: 45px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                </button>
            </form>
            
            
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item "> 
                    <a class="nav-link active" href="Intranet.html">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="CarritoCompras.html">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                          </svg>
                    </a>
                </li>
            </ul>
    </div>
        </div>
    </nav>
    <div class="envio-bar d-flex justify-content-center align-items-center">
        <span class="mx-2">
          <img src="../static/img/INTRANET/peru.png" alt="Perú" width="24">
        </span>
        <span class="envio-text">🛩️ENVÍOS GRATIS A TODO EL PERÚ🛩️</span>
        <span class="mx-2">
          <img src="../static/img/INTRANET/peru.png" alt="Avión" width="24">
        </span>
      </div>
 
    <style>
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

section {
    background: #fff;
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

ul {
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
}
</style>    
 
    <body>
    <header>
        <h1>Urban Style</h1>
        <nav>
            <ul>
                <li><a href="#vision">Visión</a></li>
                <li><a href="#mision">Misión</a></li>
                <li><a href="#entorno">Entorno</a></li>
                <li><a href="#estrategias">Estrategias</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="vision">
            <h2>Visión</h2>
            <p>Urban Style aspira a convertirse en la tienda líder en moda urbana en la región e internacional, destacándose por su autenticidad y su profunda conexión con la cultura juvenil. Para alcanzar esta visión, desarrollarán un ambicioso plan de expansión que incluye hacer una tienda online con envíos nacionales e internacionales y abrir nuevas sucursales en ciudades estratégicas.</p>
        </section>

        <section id="mision">
            <h2>Misión</h2>
            <p>La misión en Urban Style es ofrecer a sus clientes las últimas tendencias en moda urbana, combinando estilo, calidad y accesibilidad. Quieren destacarse por sus diseños exclusivos, resultado de colaboraciones con diseñadores y artistas nacionales que aportarán una perspectiva única a su colección. Además, buscan que la experiencia de compra en Urban Style tanto como online y física se defina por un ambiente moderno y una atención personalizada, garantizando un servicio rápido y eficiente.</p>
        </section>

        <section id="entorno">
            <h2>Entorno</h2>
            <p>Urban Style está en un entorno altamente competitivo, donde se enfrenta a la presencia dominante de grandes marcas y empresas de ropa que establecen las tendencias en la moda urbana. Entre los principales competidores se encuentran Nike, Adidas y Puma, que destacan por su amplia oferta de ropa urbano, así como por sus innovadoras campañas de marketing y colaboraciones. Para sobresalir en este entorno competitivo, Urban Style se enfoca en ofrecer un valor diferenciado con una experiencia de compra única y una conexión auténtica con la cultura urbana. Además, se está desarrollando un aplicativo web para optimizar la gestión de ventas y mejorar la experiencia de compra en línea, facilitando el acceso a nuestros productos y servicios para una audiencia más amplia. Esto les permitirá no solo competir eficazmente, sino también destacar y atraer a un público que busca autenticidad y originalidad en la moda urbana.</p>
        </section>

        <section id="estrategias">
            <h2>Estrategias</h2>
            <p>Para atraer y retener a sus clientes en Urban Style, implementará una serie de estrategias clave:</p>
            <ul>
                <li>Ofrecer promociones exclusivas para clientes fieles.</li>
                <li>Brindar acceso anticipado a lanzamientos especiales y eventos exclusivos.</li>
                <li>Mantener precios accesibles para asegurar que la moda urbana sea accesible para todos.</li>
                <li>Introducir descuentos especiales para nuevos usuarios, incentivando su primera compra.</li>
                <li>Lanzar ofertas especiales cada fin de mes para fomentar las compras recurrentes.</li>
                <li>Ofrecer un regalo a aquellos clientes que cumplan con un mínimo de compra, recompensando su lealtad.</li>
            </ul>
        </section>
    </main>
    
    
    
    
    
    <footer class="footer-distributed">
    <div class="footer-left">
        <img src="../static/img/INTRANET/Logo.jpeg" alt="Logo" class="logo" >
        <h3>Urban<span>Style</span></h3>
        <p class="footer-company-name">Copyright © 2024 <strong>UrbanStyle</strong> Reservados todos los derechos</p>
    </div>
    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Ubicación</span> Los Olivos, UTP 2024</p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p>+51 987 789 067</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:sagar00001.co@gmail.com">UrbanStylee@empresa.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>Sobre la empresa</span>
            <strong>UrbanStylee</strong> Descubre las ropas en tendencia de este año 2024
        </p>
        <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</footer>
       

    <script src="ScriptC.js"></script>
</body>
